body {
	margin: 20px;
	background: url('../images/warm-colors-background.jpg')
}

.top {
	width: 200px;
	height: 50px;
	background-color: green;
	border: 6px solid #000000;
	border-bottom: 6px dotted #000000;
	margin: 0px auto;
}

.down {
	background-color: green;
	width: 150px;
	height: 200px;
	margin: 0px auto;
	border: 6px solid #000000;
	border-top: 0px;
}

.page {
	width: 100%;
	text-align: center;
}

.box_up {
	width: 25%;
	background-color: #37495F;
	display: inline-block;
	text-align: center;
	margin: 20px 25px
}

.box_down {
	width: 100%;
	background-color: #fff;
	display: inline-block;
	text-align: center;
}

.box_up>p:nth-of-type(1) {
	font-size: 23px;
	color: white;
}

.box_up>p:nth-of-type(2) {
	font-size: 20px;
	color: #aaa;
}

.box_up>p:nth-of-type(3) {
	font-size: 18px;
	width: 180px;
	border: 3px solid gray;
	border-radius: 5px;
	margin: -5px auto;
	margin-bottom: 30px;
	color: #bbb;
}

span:nth-child(1) {
	font-size: 30px;
	vertical-align: top;
}

span:nth-child(2) {
	font-size: 100px;
	color: white;
	margin: 18px;
}

.box_down>p {
	font-size: 18px;
	color: #bbb;
	border-bottom: 1px solid #ddd;
	width: 50%;
	padding-bottom: 10px;
	margin: 0px auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

.box_down>p:nth-of-type(4) {
	border-bottom: 0px;
}

.fa fa-envelope {
	font-size: 30px;
	color: black
}

.fa fa-question-circle-o {
	font-size: 300px;
}